@import "tailwindcss";
@plugin "daisyui";

:root{
  @apply text-xl md:text-2xl
  
}

.active{
  @apply  bg-purple-100 text-purple-600
}

/* @keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
} */

/* .animate-moveDot {
  animation: moveDot 6s linear infinite;
} */